*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: #efefef;
  }
  header {
    background-color: #364552;
    color: white;
    padding: 1rem 1rem;
  }
  header h1 {
    text-align: center;
    font-size: 3rem;
  }
  
  .form_register {
    
    width: 80%;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    /* background: #24303c; */
    /* box-shadow: 7px 13px 37px #000; */
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
   
  }
  .label {
    display: block;
    font-size: 16px;
    line-height: 40px;
  }
  .label_e {
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
    line-height: 40px;
  }
  
  .controls {
    width:90%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #364552;
    font-size: 18px;
    /* background: #364552; */
  }
  #FECHAVENTA {
    
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #364552;
    font-size: 18px;
  
  }
  
  th {
    padding: 10px;
  }
  
  .botones {
    text-align: center;
  }
  
  .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
  }
  .boton:hover {
    background: #1f54c59a;
    cursor: pointer;
  }
  
  footer {
    background-color: #222 ;
    padding: 2rem;
    color: #fff;
  }
  
  footer section {
    float: right;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin: 20px;
  }
  
  footer a:hover {
    color: cornflowerblue;
  }