/* ////////////////////// BLOQUE DE INGRESO ////////////////////// */

.MainBox {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000500;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 50px;
    backdrop-filter: blur(1px) ;
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    text-align: center;
    align-content: center;
  }
    
/* ////////////////////// FORMULARIO ////////////////////// */
    
.UserPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50px;    
    left: calc(50% - 50px);
    }
  
.Iniciar {
    margin: 0;
    padding: 50px 0 10px;
    text-align: center;
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 5px;
  }
  
.Name, .Password {
    font-size: 19px;
    border: none;
    border-bottom: 1px solid #000500;
    background: #FFFBFF;
    outline: none;
    height: 40px;
    color: #000500;
    width: 100%;
    margin-bottom: 15px;
  }

/* ////////////////////// BOTONES ////////////////////// */

.ButtomIS {
    font-size: 1.2rem;
    text-shadow: 0px 1px 0px #706c6c;
    color: #FFFBFF;
    background: #3da733dc;
    border-radius: 20px;  
    border-color: #3da733dc;
    width: 100%;
    height: 50px;  
    margin-top: 20px;
  }
  .ButtomIS:hover {
    cursor: pointer;
    background: #3da73383;
    color: #000500;
  }

.GoogleLogin {
    /* Cualidades texto */
    font-size: 1rem!important;
    text-shadow: 0px 1px 0px #706c6c;
    /* Color del texo */
    color: #ff5b00!important;
    /* Eliminar color de fondo */
    background: transparent;
    /* Cualidades caja, Grosor del borde, estilo de línea y color */
    border-radius: 20px!important;
    border-color: #ff5b00!important;
    /* box-sizing: content-box; */
    align-content: center!important;
    text-align: center!important;
    width: 100%;
    height: 50px !important;
    padding: 0.2em 2em 0.2em 2em !important;
    margin-top: 15px;
    margin-bottom: 20px;
}
/* Al poner el curso encima (hover) */
.GoogleLogin:hover {
    background-color: #ff5b00!important;
    color: #fff!important;
    cursor: pointer;
}

/* ////////////////////// PIE DE PAGINA ////////////////////// */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #364552ea ;
    padding: 1.2rem;
    color: #fff;
    text-align: center;
}