/* ////////////////////// ENCABEZADO ////////////////////// */

header {
    background-color: #364552;
    color: white;
    padding: 3rem 3rem;
}

#titulo {
    font-size: 3rem;
    text-align: center;
}

/* ////////////////////// FORMULARIO ////////////////////// */

.form_user {
    margin: 0 auto;
    border: 1px solid #666666;
    border-radius: 10px;
    width: 500px;
    background-color: white;
    align-content: center;
    margin-top:80px;
}

#margenform {
    margin-top:30px;
  }
  
#IngresoDatos, #IniciarSesión, #Google {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0.25rem 0;
    margin-top: 10px;
    
    /* Alinear input dentro de un div */
    text-align: center; 
}

#TituloUsuario, #TituloContraseña {
    margin-bottom: 15px;
  }

#Usuario, #Contraseña {
    position: relative;
    height: 3rem;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #efefef;
    margin-bottom: 30px;
}

.button1 {
    /* Cualidades texto */
    font-size: 1.2rem;
    text-shadow: 0px 1px 0px #bde6cf;
    /* Color del texo */
    color: #000000;
    /* Eliminar color de fondo */
    background: transparent;
    /* Cualidades caja, Grosor del borde, estilo de línea y color */
    box-sizing: content-box;
    align-content: center;
    width: 200px;
    padding: 0.8em 2em 0.8em 2em !important;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 10px #bde6cf inset, 3px 3px 3px #000000;
    border: 1px inset transparent;
}
/* Al poner el curso encima (hover) */
.button1:hover {
    background-color: #73c998;;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79cc9c), color-stop(100%,#73c998));
    color: white;
    cursor: pointer;
}

#separador {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top:25px;
    margin-bottom:20px;
    width: 85%;
}

#Google {
    margin: 0 auto;
    border: 1px solid #666666;
    border-radius: 10px;
    width: 500px;
    height: 100px;
    background-color: white;
    align-content: center;
}

.GoogleLogin {
    /* Cualidades texto */
    font-size: 2rem;
    text-shadow: 0px 1px 0px #706c6c;
    /* Color del texo */
    color: #ff5b00!important;
    /* Eliminar color de fondo */
    background: transparent;
    /* Cualidades caja, Grosor del borde, estilo de línea y color */
    border-color: #ff5b00!important;
    box-sizing: content-box;
    align-content: center;
    width: 200px;
    padding: 0.8em 2em 0.8em 2em !important;
    margin-top: 12.5px;
}
/* Al poner el curso encima (hover) */
.GoogleLogin:hover {
    background-color: #ff5b00!important;
    color: #fff!important;
    cursor: pointer;
}

/* ////////////////////// PIE DE PAGINA ////////////////////// */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #364552 ;
    padding: 2rem;
    color: #fff;
    text-align: center;
}